.dataGridTableCustomFields {
    width: 100%;
    font-family: Roboto,Arial;
    font-size: 14px;
}

.dataGridTableCustomFields a {
    color: #0074ba;
    text-decoration: none;
}

.dataGridTableCustomFields a:hover {
    text-decoration: underline;
}

.dataGridTableCustomFields tr td, .dataGridTableCustomFields tr th {
    padding: .35rem;
}

.dataGridTableCustomFields thead tr {
    border-bottom: 3px solid #404040;
    background: #F7F7F7;
}

.dataGridTableCustomFields tr {
    cursor: pointer;
}

.dataGridTableCustomFields tbody tr:nth-child(2n) {
    background: #F7F7F7;
}

.dataGridTableCustomFields tbody tr:hover {
    background: #F7F7F7;
}

.dataGridTableCustomFields thead,
.dataGridTableCustomFields thead tr,
.dataGridTableCustomFields thead tr td {
    color: #595959;
}

.widgetNum {
    position: relative;
}
.widgetNumWidget {
    display: block;
    overflow: visible;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -25px;
    background: url(./images/bookmarks.png) no-repeat top right;
}
.widgetNumWidget.booked{
    background-position: top left;
}
.widgetNumNum{
    background: #D7D6D6;
    position: absolute;
    top: -5px;
    left: -6px;
    padding: 5px;
}
.widgetNumValue{
    padding-left: 20px;
}