.filterCustomSearchSeparated{
    margin-right: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 420px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filterSeparated{
    margin-right: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    min-width: 135px;
    max-width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filterWrap, .buttonWrap {
    display: flex;
    width: auto;
    justify-content: flex-end;
}
.buttonWrap {
    padding-right: 5px;
}